
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size:12px;
}
body{
  background-color: #2B3A42;
  margin:0;
  padding:0;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}
/*大标题*/
.Quantico-Bold-Headline{
  font-family: Quantico-Bold;
  font-size: 3rem;
  color: #FFFFFF;
  letter-spacing: 3.02px;
}
/*welcome message*/
.Quantico-Bold-Script{
  font-family: Quantico-Bold;
  font-size: 1.67rem;
  color: #FFFFFF;
  letter-spacing: 3.02px;
}
.Quantico-Bold-Logo{
  font-family: Quantico-Bold;
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 3.62px;
  padding: 0.7% 0 0.7% 0;
}
/*Role*/
.Quantico-Regular{
  font-family: Quantico-Regular;
  font-size: 1.33rem;
  color: #FFFFFF;
  letter-spacing: 2.41px;
}
/*强调文字*/
.Oxygen-Bold{
  font-family: Oxygen-Bold;
  font-size: 1.33rem;
  color: #FFFFFF;
  letter-spacing: 2.41px;
}
/*正文*/
.Oxygen-Regular{
  font-family: Oxygen-Regular;
  font-size: 1.33rem;
  color: #FFFFFF;
  letter-spacing: 2.41px;
}
/*小标题*/
.Oxygen-Light{
  font-family: Oxygen-Light;
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 3.62px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.topbar{
  background-color: #3F5765;
  width: 100%;
  height:2.6%;
}
.Logo{
  padding: 0.7% 1.4% 0.7% 21.3%;
  float: left;
}
.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  padding-bottom: 10px;
  clear: both;
}


/* TODO: Replace with image later */
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
